// Sass but with use of css variables, let's give it a try!

:root {
    // color palette
    --navy-color: #2C3E50;
    --dark-blue-color: #2980B9;
    --blue-color: #3498DB;
    --red-color: #E74C3C;
    --cream-color: #ECF0F1;
}

